.cart-page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-empty-view-container {
  position: absolute;
  top: 64px;
  width: 77.08333333333333%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .cart-empty-view-container {
    top: 96px;
    min-height: 100vh;
  }
}

.cart-items-container {
  position: absolute;
  top: 64px;

  min-height: 100vh;
  width: 100%;
  display: flex;

  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cart-items-container {
    top: 96px;
    min-height: 100vh;
  }
}

.cart-content-container {
  position: absolute;
  top: 48px;
  bottom: 48px;
  display: flex;
  flex-direction: column;
  width: 90%;

  background-color: #ffffff;
  max-width: 1110px;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    padding: 32px;
    width: 77.08333333333333%;

    background-color: #f9fbfe;
    /* Main/Hover Light */

    border: 1px solid rgba(11, 105, 255, 0.1);
  }
}

.item-quantity-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 7%;
  padding-left: 20%;
}
@media screen and (max-width: 767px) {
  .item-quantity-price-container {
    display: none;
  }
}

.item-quantity-price-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.2px;

  /* Light / blue-gray / 600 */

  color: #475569;
}
.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

.horizontal-line {
  width: 100%;
  border: 1px dashed #cbd2d9;
}
