.food-item-counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 74px;
  height: 24px;
}

.food-item-counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 18px;
  height: 18px;
  color: #475569;
  border: 0.75px solid #475569;
  box-sizing: border-box;
  border-radius: 2.25px;
}

.food-item-quantity-count {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 600 */

  color: #475569;
  margin: 0;
  cursor: pointer;
  outline: none;
}
