.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
}
.not-found-content-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .not-found-content-container {
    width: 70%;
  }
}

.not-found-image {
  height: 154.99781799316406px;
  width: 139.9966583251953px;
  border-radius: 0px;
}

@media screen and (min-width: 768px) {
  .not-found-image {
    height: 296.9958190917969px;
    width: 268.99359130859375px;
    border-radius: 0px;
  }
}

.not-found-line-1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}

@media screen and (min-width: 768px) {
  .not-found-line-1 {
    font-size: 32px;
    line-height: 48px;
  }
}

.not-found-line-2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  /* or 150% */

  text-align: center;

  /* Light / blue-gray / 600 */

  color: #475569;
}

@media screen and (min-width: 768px) {
  .not-found-line-2 {
    font-size: 20px;
    line-height: 32px;
  }
}

.not-found-home-page-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  background-color: #f7931e;
  border: none;
  border-radius: 8px;

  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .not-found-home-page-button {
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }
}
